extends layout

block content
  .container
    .main
      h2 Recent
      p Some news and updates about recent events.
      img(src='/img/h1.jpg' alt='news picture')
      h2 TFSA
      p Information about TFSA (Tax-Free Savings Account).
      img(src='/img/h2.jpg' alt='TFSA picture')
      h2 First Home Buyers
      p Tips and information for first-time homebuyers.
      img(src='/img/h3.jpg' alt='couple picture')
      h2 How to calculate your mortgage
      a(href='/mortgage') Calculate your mortgage.
      img(src='/img/h4.jpg' alt='mortgage picture')
    .sidebar
      h2 Real Estate Topics
      div.article
        h3 Buying a Home
        p Buying a home is a significant milestone for many individuals and families. It involves thorough research, financial planning, and decision-making. Prospective homebuyers need to consider factors such as location, budget, size, amenities, and future resale value. Engaging with real estate agents, attending open houses, and understanding the housing market are essential steps in the home-buying process.
        a(href='#') See More
      div.article
        h3 Selling Tips
        p Selling a property requires strategic planning and effective marketing techniques to attract potential buyers and secure the best possible sale price. Home sellers should focus on enhancing the curb appeal of their property by making necessary repairs, decluttering, and staging the home to showcase its best features. Utilizing professional photography and creating compelling listings can help attract more interest from buyers. Pricing the property competitively and being flexible with negotiations can expedite the selling process.
        a(href='#') See More
      div.article
        h3 Investment Properties
        p Investing in real estate offers opportunities for building wealth and generating passive income streams. Investment properties can include rental properties, vacation homes, commercial real estate, and real estate investment trusts (REITs). Investors should conduct thorough market research to identify lucrative investment opportunities and assess potential risks. Factors such as location, rental demand, property appreciation, and cash flow projections are critical considerations when evaluating investment properties.
        a(href='#') See More
