doctype html
html
  head
    title Homie App
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
  body
    .header
      h1 Homie
      ul 
        if user
          li Hi! #{user.username}
          li
            a(href='/logout?_method=DELETE') Logout
        else
          li
          a(href='/login') Login 
        a(href='/admin') Admin Portal
    nav
      a(href='/') Home
      a(href='/sale') Sale
      a(href='/rent') Rent
    block content
  footer
    p © 2024 Homie App. All rights reserved.
